.body-table {
    margin: auto;
    width: 70%;
    max-height: 680px;
    overflow-y: auto;
}

.actions {
    width: 300px;
}

.filtro {
    margin-left: 73%;
}

#btnInsert {
    margin-top: -60px;
}

.actions_tables {
    text-align: right;
    padding: 5px;
}

#btnAtualizarTabela {
    width: 126px;
}
@media print {
    @page {
        margin: 0;
    }
    body {
        margin: 1.6cm;
    }
}